!!! 5 -# arcane incantation for "HTML 5 doctype"
%html
	%head
		%link(type="text/css" rel="stylesheet" href="/app/css/main.css")
	%body
		%p#navbar
			%a(href="/app/links") Overview Page
			%a(href="/auth/login") Switch User
		%hr
		!= yield
